[Unit]
Description=GS Edge Model Server
After=network.target

[Service]
Type=simple
EnvironmentFile=/opt/edge-model/.env
ExecStart=/opt/edge-model/current-app/edge-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
